<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Invoice</title>
</head>
<body>
<h1>Invoice</h1>
<p>Invoice Date: <span th:text="${invoiceDate}">Invoice Date</span></p>
<p>Total Amount: <span th:text="${totalAmount}">Total Amount</span></p>
<p>Blog ID: <span th:text="${blogId}">Blog ID</span></p>
<p>User ID: <span th:text="${userId}">User ID</span></p>
<p>Email: <span th:text="${email}">Email</span></p>
<p>Title: <span th:text="${title}">Title</span></p>

</body>
</html>
