<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Invoice Manager</title>
</head>
<body>


<!-- Display the total number of invoices -->
<p>Total Number of Invoices: <span th:text="${quantity}">0</span></p>
<h3>Invoice Information</h3>
<!-- Iterate through the list of invoices -->
<ul th:if="${list != null}" th:each="invoice : ${list}">
  <li>

    <p>Name: <span th:text="${invoice.userName}"></span></p>
    <p>Invoice Date: <span th:text="${invoice.invoice_date}">N/A</span></p>
    <p>Total Amount: $<span th:text="${invoice.total_amount}">0.00</span></p>
    <p>Email: <span th:text="${invoice.email}"></span></p>
    <p>Title: <span th:text="${invoice.title}"></span></p>


    <!-- Add more fields here if needed -->
  </li>
</ul>

<!-- Handle the case where there are no invoices -->
<div th:if="${list == null || list.isEmpty()}">
  <p>No invoices found.</p>
</div>

<!-- Add more content as needed -->

</body>
</html>
