<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Staff Dashboard</title>
</head>
<body>
<h1>Staff Dashboard</h1>

<!-- List of pending blogs -->
<table>
  <tr th:each="blog : ${pendingBlogs}">
    <td th:text="${blog.title}"></td>
    <td th:text="${blog.userName}"></td>
    <td th:text="${blog.content}"></td>
    <td th:text="${blog.blogTypeName}"></td>
    <td > <img class="img-fluid" th:src="@{'../images/blog/' + ${blog.image}}" alt></td>
    <td>
      <form th:action="@{'/blog/staff/process?blogId=' + ${blog.id}}" method="post">
        <select name="action">
          <option value="approve">Approve</option>
          <option value="reject">Reject</option>
        </select>
        <button type="submit">Submit</button>
      </form>
    </td>
  </tr>
</table>
</body>
</html>
